[Desktop Entry]
Version=1.0
Type=Application
Name=Trexo PDF Signer
GenericName=Digital PDF Signer
Comment=Sign PDF documents digitally using certificates, tokens, and PKCS#11 by TrexoLab
Exec=/opt/trexo-pdf-signer/trexo-pdf-signer %f
Icon=/opt/trexo-pdf-signer/trexo-pdf-signer.png
Terminal=false
Categories=Office;Utility;
Keywords=pdf;sign;signature;digital;certificate;esign;eds;pkcs11;usb-token;smartcard;pfx;p12;x509;java;document;security;trexolab;trexo-pdf-signer;
MimeType=application/pdf;
StartupNotify=true
StartupWMClass=com-trexolab-App
